.header {

	position: absolute;
	right: 0; top: 0;
	z-index: 3;

	//transform: translate(-17px,0);

	width: 100%;

	padding-top: 22px; padding-bottom: 22px;

	@include _992 {
		padding-top: 33px; padding-bottom: 33px;
	}

	&__container {
		display: flex;
		align-items: center;
		flex-wrap: wrap;

		transform: translate(calc((var(--popup-padding) / 2) - var(--popup-padding)), 0px);
	}

	// .header__logo

	&__logo {

		margin-right: 5px;

		@include _768 {
			margin-right: 35px;
		}

		@include _992 {
			margin-right: 15px;
		}

		@media (min-width: #{$container}px) {
			margin-right: 67px;
		}

		// .header__logo--img

		&--img {
			&:first-child {
				display: none;
				@include _992 {
					display: block;
				}
			}
			&:last-child {
				@include _992 {
					display: none;
				}
			}
		}
	}

	// .header__wrapper

	&__wrapper {
		flex: 1 1 auto;

		display: flex;
		align-items: center;
		justify-content: space-evenly;
		@include _768 {
			justify-content: space-between;
		}

		> * {
			margin: 5px 1px;
			@include _550 {
				margin: 5px;
			}
			&:last-child {
				margin-right: 0;
			}
		}
	}

	// .header__social-btn

	&__social-btn {
		
	}

	// .header__tel

	&__tel {
		display: inline-flex;
		align-items: center;

		transition: color .2s ease;
		color: var(--black);
		&:hover {
			color: var(--black-hover);
		}
		
		&:active {
			color: var(--black-active);
		}

		svg {
			margin-right: 7px;
		}
	}

	// .header__lang

	&__lang {
		ul {
			display: flex;

			li:not(:first-child)::before {
				content: '|';
				margin-left: 5px;
			}

		}

		a {

			font-size: 0.75rem;
			
			@include _768 {
				font-size: 0.875rem;
			}
			
			@include _992 {
				font-size: 1rem;
			}

			line-height: 200%;
			font-weight: 700;
			color: var(--black);
			transition: color .15s ease;
			&:not(.current) {
				font-weight: 400;
				&:hover {
					color: var(--black-hover);
				}
				
				&:active {
					color: var(--black-active);
				}
			}
		}
	}

	// .header__btn

	&__btn {
	}
}
